/* Stylesheet for extension popup */

* {
    font-family: 'Roboto';
    font-size: 14px;
}

body {
    min-height: 180px;
    width: 300px;
    border-radius: 8px;
    padding: 20px
}

.text-input-field {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.text-input-field-input {
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 4px;
    padding: 14px 8px;
    border: 1px solid rgb(160, 155, 155);
}

.text-input-field-input:focus {
    outline: 1px solid rgb(160, 155, 155);
    ;
}

.category-pill {
    padding: 10px 14px;
    display: inline-flex;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #e6e9ed;
    border-radius: 24px;
    cursor: pointer;
    border: none;
}

.selected-pill {
    background-color: #a4b4db;
}

.category-pill:hover {
    border: 1px solid #cdd0d4;
    transform: scale(1.1);
}


.add-button {
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    margin-top: 20px;
    margin: 4% 0;
    background-color: #b6ccb6;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover {
    font-weight: bold;
    border: 1px solid #9ba5b1;
}

.header-content {
    text-align: center;
    font-family: 'Roboto';
    background-color: white;
    border-bottom: 1px solid black;
}

.tool-title {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 18px;
    margin: 10px 0;
    padding: 0;
}