.category-block {
    padding: 30px;
    margin: 20px;
    display: inline-flex;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: #e49696;
}

.category-block:hover {
    background-color: #d8aaaa;
}

.category-block-link {
    text-decoration: none;
    color: #000;
}

.prev-link {
    color: #000;
    text-decoration: none;
}

.prev-link:hover {
    font-weight: bold;
}

.category-blocks {
    text-align: center;
}