body {
    background-color: #dfa7a7;
}

.main-content {
    margin: 2% 20%;
    padding: 5%;
    font-family: 'Roboto';
    border-radius: 6px;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .main-content {
        margin: 2%;
        padding: 8% 2%;
    }
}