table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.prev-link {
    color: #000;
    text-decoration: none;
}

.prev-link:hover {
    font-weight: bold;
}

.search-container {
    width: 100%;
    margin: 20px 0;
}

input#search-bar {
    margin: 0 auto;
    width: 100%;
    flex: 1;
    height: 45px;
    padding: 0px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}