.category-question-header {
    font-size: 20px;
    padding-bottom: 20px;
}

.category-pill {
    padding: 10px;
    display: inline-flex;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #e49696;
    border-radius: 20px;
    cursor: pointer;
}

.selected-pill {
    border: 2px solid black;
}


.category-pill:hover {
    background-color: #d8aaaa;
}

.next-link {
    float: right;
    color: #000;
    text-decoration: none;
}

.next-link:hover {
    font-weight: bold;
}

.additional-category-container {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.additional-category-input-container {
    display: flex;
}

.additional-category-input {
    margin-right: 2%;
    padding: 5%;
    width: 100%;
    height: 45px;
    padding: 0px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    flex: 1;
}