/* Global stylesheet */

.page-content {
    margin: 1% 25%;
    padding: 4% 0;
    font-family: 'Roboto';
    border-radius: 6px;
}

.main-content {
    background-color: #fdfeff;
    margin: 2% 0;
    padding: 4%;
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    .main-content {
        margin: 2%;
        padding: 8% 2%;
        text-align: center;
    }

    .page-content {
        margin: 1% 10%;
    }
}