/* Stylesheet for page header */

.header-content {
    text-align: center;
    font-family: 'Roboto';
    background-color: white;
    border-bottom: 1px solid black;
}

.tool-title {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 28px;
    margin: 10px 0;
    padding: 0;
}