.category-question-header {
    font-size: 16px;
    padding-bottom: 10px;
}

.category-pill {
    padding: 10px 14px;
    display: inline-flex;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #e6e9ed;
    border-radius: 24px;
    cursor: pointer;
}

.add-new-category-pill {
    display: inline-flex;
}

.add-new-category-pill-hidden {
    display: none;
}

.selected-pill {
    background-color: #a4b4db;
}


.category-pill:hover {
    border: 1px solid #cdd0d4;
    transform: scale(1.1);
}

.next-link {
    float: right;
    color: #000;
    text-decoration: none;
    padding: 10px;
    margin: 4% 0;
    background-color: #b6ccb6;
    border-radius: 4px;
}

.next-link:hover {
    font-weight: bold;
    transform: scale(1.1);
}

.additional-category-container {
    width: 100%;
    margin: 20px 0;
    flex-direction: column;
    display: none;
}

.additional-category-container-active {
    display: flex;
}

.additional-category-input-container {
    display: flex;
}

.additional-category-input {
    margin-right: 2%;
    padding: 5%;
    width: 100%;
    height: 45px;
    padding: 0 6px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    flex: 1;
    border-radius: 4px;
}

.add-category-btn {
    border: 1px solid #cdd0d4;
    border-radius: 4px;
    padding: 0 20px;
}

.add-category-btn:hover {
    transform: scale(1.1);
    border: 1px solid #cdd0d4;
}

@media only screen and (max-width: 600px) {
    .category-pill {
        padding: 6px 10px;
    }

    .additional-category-input {
        font-size: 12px;
    }
}